body,
input,
textarea,
select {
  font-family: $font-family;
}

a {
  color: $link-color;
   text-decoration: none;

  &:hover,
  &:active {
  }
  &:visited{
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}


code{
  display: block;
  color: #FFF;
  background-color: #4E4E4E;
  padding: 1em 1.5em;
  line-height: 1.8;
}




