body,
input,
textarea,
select {
  font-family: $font-family;
}

a {
  color: $link-color;
   text-decoration: none;

  &:hover,
  &:active {
  }
  &:visited{
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}


code{
  display: block;
  color: #FFF;
  background-color: #4E4E4E;
  padding: 1em 1.5em;
  line-height: 1.8;
}

blockquote{
  border-left: 4px solid #019bb1;;
  padding: 0.5em 2em;
  color: #4B4B4B;

  p{
    display: inline;
    line-height: 1.6;
  }

  &:before, &:after{
    content: " “ ";

  }
}


