


$triangle-1 :  url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg"><path d="M0 100 L100 0 L100 100" stroke-width="0"  fill="#FFF"></path></svg>');

$triangle-1-inverse :  url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg"><path d="M0 0 L0 100 L100 100" stroke-width="0"  fill="#FFF"></path></svg>');

$triangle-1-inverse-1 :  url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg"><path d="M0 0 L100 0 L100 100" stroke-width="0"  fill="#FFF"></path></svg>');

$triangle-2 :  url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg"><path d="M0 0 L50 100 L100 0" stroke-width="0"  fill="#FFF"></path></svg>');
