/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.header .login{
  @include span(10);
  label{
    display:inline-block;
    @include span(first 6);
  }
  input{
    @include span(first 4);
    border:1px solid black;
  }
  fieldset>span:first-child{
    display:none;
  }
}

/* pour les champs ayant un icone */
span+label+input{
 @include rem-fix(padding-left, 2.8);
}




.reserve-first-step{
  @include span(first 6);
  &__contact-legend{
    font-size:1.5em;
    @include rem-fix(margin-bottom, 1);
  }
  &__other-person-legend{
    font-size:1em;
    color:#a94442;
    @include rem-fix(margin-bottom, 1);
  }
  &__text-i{
    clear:both;
    @include rem-fix(height, 6);
    label{
      @include span(first 10);
      font-size:1em;
    }
  }
  &__check-i{
    @include span(first 12);
    @include rem-fix(margin-bottom, 2);
    input{
      background-color:none;
      @include span(first 2);
      @include rem-fix(padding, 0.8);
      @include rem-fix(margin-bottom, 0);
      @include rem-fix(margin-top, 0.8);
    }
    label{
      font-size:1.1em;
      width:auto;
      display:inline-block;
    }
  }
  &__contact-person{
    background:#edeaea;
    @include rem-fix(padding, 0, 1);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    @include rem-fix(margin, 1, 0, 3, 0);
    @include rem-fix(padding-top, 1);
  }
  .placeReserved{
    label[for="placeReserved"]{
      width:auto;
      display:inline-block;
      font-size:1.2em;
    }
    input[name="placeReserved"]{
      @include span(first 2);
    }
  }

}

label{
  display:inline-block;
  @include span(first 6);
  font-size:1.2em;
}
input{
  @include span(first 11);
  border-radius:2px;
  border:1px solid #666;
  @include rem-fix(padding, 0.4, 0.8);
  font-size:1em;
  @include rem-fix(margin-bottom, 1);
  &:focus{
    outline:none;
    border:1px solid black;
  }
}
input[type="submit"]{
  font-size:1em;
  border-radius:2px;
}
input[type="submit"], .button{
  background-color:none;
  @include span(4);
  @include rem-fix(margin-top, 2.5);
  @include rem-fix(padding, 0.8);
  text-align: center;
  border:1px solid #666;
  float:left;
  color:white;
  text-transform:uppercase;

  background: #333333; /* Old browsers */
  background: -moz-linear-gradient(top,  #333333 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #333333 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #333333 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #333333 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #333333 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  &:hover{
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top,  #000000 0%, #333333 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#333333)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #000000 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #000000 0%,#333333 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #000000 0%,#333333 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #000000 0%,#333333 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
    cursor:pointer;
  }
}


::-webkit-input-placeholder { /* WebKit browsers */
    color:    #666;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #666;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #666;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #666;
}

span.error{
  position: relative;
  float:left;
  color:white;
  font-size:0.8em;
  background: rgb(202, 60, 60);
  @include rem-fix(padding, 0.1,0.4);
  border-radius:2px;

}
