@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?fk4naw');
	src:url('../fonts/icomoon.eot?#iefixfk4naw') format('embedded-opentype'),
	url('../fonts/icomoon.woff?fk4naw') format('woff'),
	url('../fonts/icomoon.ttf?fk4naw') format('truetype'),
	url('../fonts/icomoon.svg?fk4naw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
	content: "\e604";
}

.icon-office:before {
	content: "\e600";
}

.icon-home:before {
	content: "\e900";
}

.icon-pencil:before {
	content: "\e905";
}

.icon-phone:before {
	content: "\e942";
}

.icon-phone-hang-up:before {
	content: "\e943";
}

.icon-pin:before {
	content: "\e947";
}

.icon-location2:before {
	content: "\e948";
}

.icon-compass:before {
	content: "\e94a";
}

.icon-user:before {
	content: "\e971";
}

.icon-users:before {
	content: "\e972";
}

.icon-user-plus:before {
	content: "\e973";
}

.icon-user-minus:before {
	content: "\e974";
}

.icon-lock:before {
	content: "\e98d";
}

.icon-key2:before {
	content: "\e98e";
}

.icon-lock4:before {
	content: "\e98f";
}

.icon-plus:before {
	content: "\ea0a";
}

.icon-facebook:before {
	content: "\ea8e";
}

.icon-twitter:before {
	content: "\ea93";
}

.icon-mail:before {
	content: "\e601";
}

.icon-mouse:before {
	content: "\e602";
}

.icon-directions:before {
	content: "\e603";
}

form{
	[class^="icon-"], [class*=" icon-"]{
		position: absolute;
		@include rem-fix(margin-top, 3.1);
		@include rem-fix(margin-left, 0.7);
		color:#555;
	}
}
