.home{
	&__introduction{

		background-image: url('../img/head.jpg');
		background-size:cover;
		position:relative;
		@include rem-fix(padding-top, 15);
		@include rem-fix(padding-bottom, 20);

		width:100%;



		&__event{
			@extend .wrapper;
			font-weight:bold;

			&__wrapper{
				@include span(5);

				&__title{
					@include rem-fix(font-size, 4);
					line-height:1.2em;
					@include rem-fix(margin-bottom, 1);
					color:white;
				}
				&__date{
					@include rem-fix(font-size, 2);
					font-weight:400;
					color:#FFF;
					display:block;
					font-style:italic;
				}
				&__link{
					border-radius:2px;
					text-transform:uppercase;
					@include rem-fix(font-size, 2);
					@include rem-fix(margin-top, 2);
					@include rem-fix(padding, 0.7, 2);
					display:inline-block;
					font-family:$font-family-2;
					font-weight:400;
					border: 4px solid white;
					background-color:rgba(0, 0, 0, 0.8);
					color:#FFF;
					text-decoration:none;
					&:hover{
						color:black;
						background-color:#FFFFFF;
					}
				}
			}
		}

		&__logo{
			$logo-width: 15;
			@include rem-fix(width, $logo-width);
			height: auto;
			position:absolute;
			@include rem-fix(bottom, (10/2)-($logo-width/2));

			z-index:999;
			left:50%;
			@include rem-fix(margin-left, -($logo-width/2));
			border-radius:100%;
			background-color:#FFF;
			@include rem-fix(padding, 1);

		}
        @include triangle-svg(  $color: F9F9F9,
                                $height: 10,
                                $direction: bottom-left,
                                $position: bottom,
                                $pseudoElement: after );

	}

	&__presentation{
		@extend .wrapper;

		&__title{
			display:block;
			@include span(12 last);
			padding-right: span(7)+ gutter();
			@include rem-fix(font-size, 3.8);
			@include rem-fix(margin-bottom, 4);
			@include rem-fix(line-height, 6);
		}
		&__paragraph{
			display:block;
			@include span(first 6);
			@include rem-fix(font-size, 2);
			line-height:1.5em;
		}
		&__image{
			@include span(last 6);
		}
	}

	&__interview{
		@include rem-fix(margin-top, 2);
		@include rem-fix(padding, 20, 0, 20,0);
		background-image: url('../img/interview.png');
		background-size: cover;
		background-position: 0 -100px;

		position:relative;
        @include triangle-svg(  $color: F9F9F9,
                                $height: 10,
                                $direction: top-right,
                                $position: top,
                                $pseudoElement: before );

        @include triangle-svg(  $color: F9F9F9,
                                $height: 10,
                                $direction: bottom-left,
                                $position: bottom,
                                $pseudoElement: after );

		&__wrapper{
			@extend .wrapper;

			&__image{
				@include span(first 2.2);
				border-radius:100%;
				height: auto;
				border: 3px solid #FFF;
			}

			&__paragraph{
				color:#FFF;
				@include rem-fix(font-size, 2);
				@include span( 9);
				@include rem-fix(padding-left, 4);
				@include rem-fix(padding-right, 4);

				@include rem-fix(margin-top, 4);
				position: relative;
				&:before, &:after{
					position: absolute;
					display: block;
					@include rem-fix(font-size, 4);
					font-weight: 300;
					font-family: $font-family-2;

				}
				&:before{
					@include rem-fix(top, -2);
					left: 0;
					content: "«";
				}
				&:after{
					@include rem-fix(bottom, -2);
					right: 0;
					content: "»";
				}
			}
			&__author{
				@include span(last 6);
				margin-right: span(1);
				text-align:right;
				color:#FFF;
				@include rem-fix(font-size, 3);
				@include rem-fix(margin-top, 2);
				@include rem-fix(padding-top, 2);
				text-transform:uppercase;
				border-top:1px solid white;
				font-family:$font-family-2;
			}
		}
		&__logo{
			@include rem-fix(bottom, -2);
		}
	}

	&__gallery{
		&__title{
			@extend .wrapper;
			@include rem-fix(font-size, 3.8);
			@include rem-fix(margin-bottom, 4);
			@include rem-fix(line-height, 6);
		}
	}
}
