.myreservation{
  display:block;
  border-bottom:1px solid black;
  overflow:auto;
  @include rem-fix(margin-bottom, 1);
  &__header{
    @include span(first 12);
    background-color:black;
    color:white;
    @include rem-fix(padding, 0, 1);
    font-size:1.2em;
  }
  &__contact{
    @include rem-fix(padding, 0, 1);
    @include span(first 6);
    background-color:rgba(0, 0, 0, 0.1);
    @include rem-fix(margin-top, 1);
  }
  &__adress{
    @include rem-fix(padding, 0, 1);
    @include span(first 6);
    background-color:rgba(0, 0, 0, 0.1);
    @include rem-fix(margin-bottom, 1);
  }
  &__info{
    font-weight:100;
    color:rgba(0, 0, 0, 0.8);
  }
}
