
.reserve{
  /* Si le user n'est pas logué, affichage des formulaires d'inscription/authentification
  *
  *  login
  *  et
  *  Register
  */
  &__do{
    @extend .wrapper;
    @include rem-fix(margin-top, 3);
    /* Login */
    &__login{
      @include span(6 first);
      border-right:1px solid black;
      &__title{
        @include rem-fix(padding, 2, 0);

      }
    }
    /* Register */
    &__register{
      @include span(6 last);
      &__title{
        @include rem-fix(padding, 2, 0);
      }
    }

    /* Si le user est logué, affichage des formulaires de réservation
    *
    *  infos
    *  et
    *  Suscribe
    */

    /* Infos */
    &__infos{
        @include span(12);
      &__title{
        font-size:2em;
        @include rem-fix(margin-bottom, 3);
      }
      &__place{
        @include span(5 first);
        font-size:1.2em;
        span{
          padding:10px;
        }
      }
      &__date{
        @include span(5);
        font-size:1.2em;
        span{
          padding:10px;
        }
      }
    }
    /* Suscribe */
    &__suscribe{
      @include span(12);
      @include rem-fix(padding-top, 3);
    }
  }

}
